<p id="notice"><%= notice %></p>

<p>
  <strong>Merchant:</strong>
  <%= @order.merchant_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= order_status(@order.status) %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Comission percentage:</strong>
  <%= @order.comission_percentage %>
</p>

<p>
  <strong>Comission Amount:</strong>
  <%= Order.order_amount_calculation(@order)['comission'].round(2) %>
</p>

<p>
  <strong>Net Amount:</strong>
  <%= Order.order_amount_calculation(@order)['net_amount'].round(2) %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
