<p id="notice"><%= notice %></p>

<p>
  <strong>Merchant:</strong>
  <%= @order.order_refrence_no %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @order.merchant.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= order_status(@order.status) %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Comission percentage:</strong>
  <%= @order.comission_percentage %>
</p>

<p>
  <strong>Comission Amount:</strong>
  <%= @order.sequra_commission_amount.to_f.round(2) %>
</p>

<p>
  <strong>Net Amount:</strong>
  <%= @order.merchant_received_amount.to_f.round(2) %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
