<p id="notice"><%= notice %></p>

<h1>Merchants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      
      <th>Disbursement frequency</th>
      <th>Live on</th>
      <th>Min monthly </br>fee</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.name %></td>
        <td><%= merchant.email_id %></td>
        
        <td><%= Merchant.disbursement_frequency(merchant.disbursement_frequency) %></td>
        <td><%= merchant.live_on %></td>
        <td><%= merchant.min_monthly_fee %></td>
        <td><%= merchant.status==true ? " Active"  : "Inactive" %></td>
        <td><%= link_to 'Show', merchant %></td>
        <td><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
        <td><%= link_to 'Destroy', merchant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merchant', new_merchant_path %>
